.App {
  text-align: center;
  background: url('../src/styles/images/shutterstock_1192119628.jpg') no-repeat center center fixed;
}


.ui.card{
  margin: 0;
}

img {
  max-width: 290px;
  max-height: 200px
}




div.ui.card {
  margin: 0;
}



.mangacont{
  
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 2%;
  padding-left: 7%;
  padding-right: 7%;
  column-gap: 2%;
  row-gap: 7%;
}

.manga{
  border: solid black 1px;
  border-radius: 20px 20px;
  background-color: rgba(241, 241, 241);
  padding-bottom: 2%;
}

.header{
  background-color: rgba(245, 245, 220, 0.6);
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 1%;
}

.main{
  background-color: rgba(245, 245, 220, 0.6);
  height: 600px;
  margin-left: 2%;
  margin-right: 2%;
}